{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Item{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% endif %}
                {% if 'success' in message.tags %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'passmanager:edit_item' item.id %}" method='POST'>
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.username|as_crispy_field }}

        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">
                {{ form.password.label }}
            </label>
            <div class="input-group">
                {{ form.password }}
                <button class="btn btn-outline-secondary" type="button" id="copyPasswordBtn" title="copy to clipboard" onclick="copyPassword()">
                    <i class="bi bi-clipboard"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" id="generatePasswordBtn" title="generate password" onclick="generatePassword()">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>

        {{ form.url|as_crispy_field }}
        {{ form.notes|as_crispy_field }}

        <p class="text-muted mt-3 mb-4 small d-flex justify-content-between w-100">
            <span>Created: {{ item.date_added }}</span>
            <span>Last Modified: {{ item.last_modified }}</span>
        </p>

        <div class="mt-4 d-flex gap-2">
            <button class="btn btn-success w-100" type="submit">Update</button>
            <button class="btn btn-danger w-100" type="button" data-bs-toggle="modal" data-bs-target="#deleteItemModal">Delete</button>
        </div>
    </form>

    <div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteItemModalLabel">Delete Item?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'passmanager:edit_item' item.id %}" class="d-flex gap-2 w-100">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary flex-fill" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger flex-fill" name="action" value="delete">Delete Item</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/utils.js' %}"></script>
{% endblock content %}
