{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New Item{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% endif %}
                {% if 'success' in message.tags %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'passmanager:new_item' %}" method='POST'>
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        {{ form.username|as_crispy_field }}

        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">
                {{ form.password.label }}
            </label>
            <div class="input-group">
                {{ form.password }}
                <button class="btn btn-outline-secondary" type="button" id="generatePasswordBtn" title="generate password" onclick="generatePassword()">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>

        {{ form.url|as_crispy_field }}
        {{ form.notes|as_crispy_field }}

        <div class="mt-4">
            <button class="btn btn-success w-100" type="submit">Save</button>
        </div>
    </form>

    <script src="{% static 'js/utils.js' %}"></script>
{% endblock content %}
