{% extends "base.html" %}
{% load url_filters %}

{% block title %}My Vault{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="GET" class="mb-4">
        <div class="d-flex flex-column gap-2">
            <input class="form-control form-control-sm" type="search" name="search_query" placeholder="Search items..." value="{{ search_query|default:'' }}">
            <a class="btn btn-primary w-100" href="{% url 'passmanager:new_item' %}">
                <i class="bi bi-plus-lg me-1"></i> New Item
            </a>
        </div>
    </form>

    {% for item in items %}
        <a href="{% url 'passmanager:edit_item' item.id %}" class="text-decoration-none">
            <article class="media border border-secondary-subtle rounded shadow-sm item-section p-3 d-flex align-items-center bg-body-tertiary text-body mb-0">
                <div class="favicon-wrapper me-md-4 me-1">
                    <img src="https://www.google.com/s2/favicons?sz=64&domain={{ item.url|urlsplit:'netloc' }}" alt="favicon" width="32" height="32">
                </div>
                <div class="media-body flex-grow-1">
                    <div class="item-metadata mb-0">
                        <small class="text-muted">{{ item.date_added|date:"M d, Y" }}</small>
                    </div>
                    <h2 class="mb-0 item-name h5 fw-bold">{{ item.name|title }}</h2>
                </div>
                <i class="bi bi-chevron-right text-muted d-none d-md-block"></i>
            </article>
        </a>
    {% empty %}
        <div class="container text-center mt-5">
            <h5>There are no items in the list.</h5>
        </div>
    {% endfor %}
{% endblock content %}
