asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
cffi==1.16.0
click==8.1.7
crispy-bootstrap5==2024.2
cryptography==44.0.*
dj-database-url==2.2.0
Django==4.2.*
django-appconf==1.0.6
django-bootstrap5==24.2
django-crispy-forms==2.2
django-extensions==3.2.3
future==1.0.0
gunicorn==22.0.0
h11==0.14.0
packaging==24.1
psycopg2-binary==2.9.9
pwnedpasswords==2.0.0
pycparser==2.22
pyotp==2.9.0
python-dotenv==1.0.1
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.12.2
uvicorn==0.30.1
