{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Import Data{% endblock title %}

{% block content %}
    <h2>Import Data</h2>
    <form action="{% url 'vault:import_csv' %}" method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="text-muted small">Import your CSV file with the following columns: <strong>name, username, password, website, notes</strong>.</p>    
        <button name="submit" class="btn btn-primary w-100">Import</button>
    </form>
{% endblock content %}
