{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Webpage title -->
    <title>PassManager - {% block title %}{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>

<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand ms-lg-5 mb-lg-2" href="{% url 'passmanager:home' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="150">
            </a>

            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/vault/' %}active{% endif %}" href="{% url 'passmanager:vault' %}">My Vault</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/password_generator/' %}active{% endif %}" href="{% url 'passmanager:password_generator' %}">Password Generator</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser == 1 %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/new_item/' %}active{% endif %}" href="{% url 'passmanager:new_item' %}">New Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/user/account/' %}active{% endif %}" href="{% url 'users:account' %}">Account</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="nav-link me-5">Log out</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link me-2 {% if request.path == '/faq/' %}active{% endif %}" href="{% url 'passmanager:faq' %}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2 {% if request.path == '/user/login/' %}active{% endif %}" href="{% url 'passmanager:vault' %}">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-5 border-on-lg {% if request.path == '/user/register/' %}active{% endif %}" href="{% url 'users:register' %}">SIGN UP</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- main start -->
    <main role="main" class="container">
        <div class="row justify-content-center mt-lg-5 mt-3">
            <div class="col-md-8 pb-2 mb-2">
                <!-- custom page header start -->
                {% block page_header %}{% endblock page_header %}
                <!-- custom page header end -->
            </div>
            <div class="col-md-8">
                <!-- custom content start -->
                {% block content %}{% endblock %}
                <!-- custom content end -->
            </div>
        </div>
    </main>
    <!-- main end -->

    <!-- custom footer start -->
     {% block footer %}{% endblock footer %}
    <!-- custom footer end -->
</body>

</html>
