{% extends "passmanager/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Item{% endblock title %}

{% block page_header %}
    <h2>Edit item:</h2>
{% endblock page_header %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% endif %}
                {% if 'success' in message.tags %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'passmanager:edit_item' item.id %}" method='POST' class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-group">
            <button type="submit" name="submit" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i> Action
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="save">
                        <i class="bi bi-floppy"></i> Save Changes
                    </button>
                </li>
                <li>
                    <button id="copy-password-btn" class="dropdown-item" type="button" onclick="CopyText()">
                        <i class="bi bi-clipboard"></i> Copy Password
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="check_password">
                        <i class="bi bi-heart-pulse"></i> Check Password
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="generate_password">
                        <i class="bi bi-arrow-clockwise"></i> Generate Password
                    </button>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <!-- Button trigger modal -->
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#delete_item_modal">
                        <i class="bi bi-trash"></i> Delete Item
                    </button>
                </li>
                <li>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="btncheck"/>
                            <label class="form-check-label" for="btncheck">Show Password</label>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </form>

    <!-- Delete item modal start -->
    <div class="modal fade" id="delete_item_modal" tabindex="-1" aria-labelledby="delete_item_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_item_modal_label">Delete Item?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'passmanager:edit_item' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="action" value="delete">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete item modal end -->

    <!-- Custom JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mt-3 text-center text-md-start">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end  mt-md-0">
                    <a href="https://www.paypal.me/kafetzisthomas" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button" style="text-decoration: none;">
                        <i class="bi bi-heart-fill"></i> Donate
                    </a>
                    <a href="mailto: passmanagerweb@gmail.com" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="https://x.com/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://github.com/KafetzisThomas/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
{% endblock footer %}
