{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- SEO meta tags -->
    <meta name="description" content="Securely manage your passwords of your online accounts.">
    <meta name="author" content="KafetzisThomas">

    <!-- Webpage title -->
    <title>PassManager - FAQ</title>

    <!-- Bootstrap CSS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg bg-dark border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand ms-lg-5" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="150">
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-2 {% if request.path == '/faq/' %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2 {% if request.path == '/user/login/' %}active{% endif %}" href="{% url 'vault' %}">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5 border-on-lg {% if request.path == '/user/register/' %}active{% endif %}" href="{% url 'users:register' %}">SIGN UP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- FAQ start -->
    <section class="mt-5">
        <div class="container-lg px-4">
            <div class="text-left mb-4">
                <h2><strong>Frequently Asked Questions (FAQ)</strong></h2>
            </div>
            <div class="text-left">
                <h4>How much does PassManager cost?</h4>
                <p>PassManager is completely <b>free</b> of charge. However, <a href="https://www.paypal.me/kafetzisthomas">donations</a> are appreciated to support our ongoing development efforts.</p>
            </div>
            <div class="text-left">
                <h4>Is my user data safe with PassManager?</h4>
                <p>Yes, we prioritize your security. <b>We never share your data with third parties.</b> Your passwords are encrypted and hashed using state-of-the-art methods before being stored in our database.</p>
            </div>
            <div class="text-left">
                <h4>How can I verify the security claims?</h4>
                <p>We believe in transparency. Our entire codebase is <b>open-source</b> and available on <a href="https://github.com/KafetzisThomas/PassManagerWeb">GitHub</a>. Feel free to review it at any time.</p>
            </div>
            <div class="text-left">
                <h4>Why hasn't PassManager upgraded to a custom domain or a better hosting plan?</h4>
                <p>PassManagerWeb is currently <b>self-funded</b> and focuses on enhancing user experience first. Upgrades to our hosting plan are planned before considering a custom domain, to ensure smooth service operation.</p>
            </div>
            <div class="text-left">
                <h4>Why choose PassManager over larger competitors?</h4>
                <p>We are a dedicated team passionate about providing high-quality features <b>without paywalls</b>. Our focus is on user satisfaction and service excellence rather than profit or competition.</p>
            </div>
            <div class="text-left">
                <h4>Why is PassManager sometimes slow?</h4>
                <p>PassManager is operated by a small team committed to providing a free service. While we strive for optimal performance, <b>limitations in resources</b> may occasionally affect speed.</p>
            </div>
            <div class="text-left">
                <h4>Do you offer two-factor authentication (2FA)?</h4>
                <p>Yes, two-factor authentication (2FA) is <b>required by default</b> for enhanced security. This extra layer of protection ensures that even if your password is compromised, your account remains secure.</p>
            </div>
            <div class="text-left">
                <h4>What happens if I forget my master password?</h4>
                <p><b>We do not store your master password, so we cannot recover it for you.</b> Please ensure you keep your master password in a safe place. If you forget it, you will need to create a new account.</p>
            </div>
            <div class="text-left">
                <h4>Do you have mobile apps available?</h4>
                <p>Currently, <b>we do not offer dedicated mobile apps</b>. However, you can create a shortcut to our web app on your mobile device's home screen for easy access.</p>
            </div>
            <div class="text-left">
                <h4>Is there a limit to the number of passwords/accounts I can store?</h4>
                <p><b>No</b>, there is no limit on the number of passwords or accounts you can store.</p>
            </div>
            <div class="text-left">
                <h4>What level of customer support do you provide?</h4>
                <p>For <b>customer support</b>, please contact us via <a href="mailto: passmanagerweb@gmail.com">email</a>.</p>
            </div>
            <div class="text-left">
                <h4>Do you have a data breach history?</h4>
                <p><b>No</b>, PassManager is a new tool, and we have not experienced any data breaches to date. We prioritize the security and privacy of our users. <b>We hope to continue this record in the future.</b></p>
            </div>
        </div>
    </section>
    <!-- FAQ end -->

    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mt-3 text-center text-md-start">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end  mt-md-0">
                    <a href="https://www.paypal.me/kafetzisthomas" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button" style="text-decoration: none;">
                        <i class="bi bi-heart-fill"></i> Donate
                    </a>
                    <a href="mailto: passmanagerweb@gmail.com" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="https://x.com/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://github.com/KafetzisThomas/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>
