{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO meta tags -->
    <meta name="description" content="Securely manage your passwords of your online accounts.">
    <meta name="author" content="KafetzisThomas">

    <!-- Webpage title -->
    <title>PassManager - Home Page</title>

    <!-- Bootstrap CSS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <!--navbar start-->
    <nav class="navbar navbar-expand-lg bg-dark border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand ms-lg-5" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="150">
            </a>
            <button class="navbar-toggler navbar-dark bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-2" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" href="{% url 'vault' %}">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5 border border-secondary rounded" href="{% url 'users:register' %}">SIGN UP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- header start -->
    <section class="hero-section">
        <div class="container d-flex align-items-center text-white flex-column">
            <h1 class="text-center mt-5 pt-5">Securely manage your passwords of<span class="d-block">your online accounts.</span></h1>
            <div class="text-center mt-5">
                <a class="btn btn-outline-light btn-lg" href="{% url 'users:register' %}">START NOW ></a>
            </div>
        </div>
    </section>
    <!-- header end -->
    
    <!-- features start -->
    <section class="mt-5">
        <div class="container-lg px-4">
            <div class="text-left mb-4">
                <h2>Features</h2>
            </div>
    
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-database-lock fs-4"></i>
                            <h4 class="card-title">AES 256 Encryption</h4>
                            <p class="card-text text-muted">User login credentials are secured with AES 256-bit encryption, ensuring top-tier security for sensitive information.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-github fs-4"></i>
                            <h4 class="card-title">Open Source</h4>
                            <p class="card-text text-muted">The source code for our service is GPL-licensed and available on GitHub.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-piggy-bank fs-4"></i>
                            <h4 class="card-title">Free</h4>
                            <p class="card-text text-muted">Our service is absolutely free and financed entirely by voluntary donations.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-key fs-4"></i>
                            <h4 class="card-title">Password Storage</h4>
                            <p class="card-text text-muted">Securely stores passwords, login credentials, and other sensitive information.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-pencil-square fs-4"></i>
                            <h4 class="card-title">Multi-factor auth</h4>
                            <p class="card-text text-muted">Protect your account with your favorite authenticator app.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-tree-fill fs-4"></i>
                            <h4 class="card-title">Environmentally friendly</h4>
                            <p class="card-text text-muted">Designed to be intuitive and easy to use, catering to users of all technical backgrounds.</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-wrench-adjustable-circle fs-4"></i>
                            <h4 class="card-title">Password Generator Tool</h4>
                            <p class="card-text text-muted">Built-in tool to generate strong, random passwords, with customizable options (length, character types).</p>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card border-secondary border-2 h-100 d-flex flex-column">
                        <div class="card-body text-left">
                            <i class="bi bi-file-earmark-medical fs-4"></i>
                            <h4 class="card-title">Password Health Monitoring</h4>
                            <p class="card-text text-muted">Built-in tool to check the strength and health of stored passwords, identifying weak, reused, or compromised passwords.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features end -->

    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mt-3 text-center text-md-start">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end  mt-md-0">
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>
