{% extends "passmanager/base.html" %}
{% load static %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table>
                <tr>
                    <td align="center" valign="top">
                        <img src="{% static 'images/logo.png' %}" width="80%">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="vertical-align: top; padding-top: 20px;">
                        <p class="article-content" style="text-align: center;">A password manager that allows you to securely manage your saved passwords of your online accounts.</p>
                    </td>
                </tr>
            </table>
        </div>
</article>
{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3 fixed-bottom">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-md-6 text-end">
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
{% endblock footer %}
