{% extends "passmanager/base.html" %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center border-bottom mb-4">Password Generator</legend>
            <div class="card">
                <div class="card-body" style="font-size: 20px;">
                    {% if password %}
                        {{ password }}
                    {% else %}
                        Generate a password by adjusting the settings below.
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="form-group">
                {{ form.length.label_tag }}
                {{ form.length }}
                {% for error in form.length.errors %}
                    <div class="invalid-feedback">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="form-check">
                {{ form.letters }}
                {{ form.letters.label_tag }}
                <input type="hidden" name="{{ form.letters.name }}" value="y">
            </div>
            <div class="form-check">
                {{ form.digits }}
                {{ form.digits.label_tag }}
            </div>
            <div class="form-check">
                {{ form.special_chars }}
                {{ form.special_chars.label_tag }}
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info" name="generate_password">Generate Password</button>
        </div>
    </form>
{% endblock %}
