{% extends "passmanager/base.html" %}
{% block title %}Password Checkup{% endblock title %}

{% block content %}
    <ul class="list-group">
        {% for result in results %}
            <li class="list-group-item d-flex justify-content-between align-items-start list-results mb-3">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ result.name }}</div>
                    <p>{{ result.status }}</p>
                    <small class="text-muted">{{ result.recommendation }}</small>
                </div>
                {% if result.severity == "High" %}
                    <span class="badge bg-danger rounded-pill">High Risk</span>
                {% else %}
                    <span class="badge bg-success rounded-pill">Safe</span>
                {% endif %}
            </li>
        {% empty %}
            <div class="container text-center mt-3">
                <h5>No items found to check.</h5>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}
