{% extends "passmanager/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h2 class="text-center">My Vault</h2>
    <div class="row">
        <div class="col">
            <hr class="mb-2 mt-0">
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% for item in items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ item.date_added }}</small>
                </div>
                <!-- Edit item page-->
                <h2><a class="article-title" href="{% url 'edit_item' item.id %}">{{ item.name }}</a></h2>
            </div>
        </article>
    {% empty %}
        <div class="container text-center mt-3">
            <h5>There are no items in the list.</h5>
        </div>
    {% endfor %}
{% endblock content %}
