{% extends "passmanager/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h2 class="text-center">My Vault</h2>
    <div class="row">
        <div class="col">
            <hr class="mb-2 mt-0">
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% for item in page_obj %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ item.date_added }}</small>
                </div>
                <!-- Edit item page-->
                <h2><a class="article-title" href="{% url 'edit_item' item.id %}">{{ item.name }}</a></h2>
            </div>
        </article>
    {% empty %}
        <div class="container text-center mt-3">
            <h5>There are no items in the list.</h5>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center me-4 mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-dark text-white text-decoration-none"
                       href="?page={{ page_obj.previous_page_number }}"
                       style="outline: none;"
                       onclick="this.blur();">
                       &lt;&lt;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-dark text-white text-decoration-none"
                       href="#"
                       style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                       onclick="event.preventDefault();">
                       &lt;&lt;
                    </a>
                </li>
            {% endif %}
    
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link bg-dark text-white text-decoration-none"
                       href="?page={{ page_obj.next_page_number }}"
                       style="outline: none;"
                       onclick="this.blur();">
                       &gt;&gt;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-dark text-white text-decoration-none"
                       href="#"
                       style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                       onclick="event.preventDefault();">
                       &gt;&gt;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3 fixed-bottom">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-md-6 text-end">
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
{% endblock footer %}
