body {
  background: #fafafa;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

/* Navigation link styles */
.nav-link {
  color: #808080;
  font-weight: 500;
}

/* Hover state styles for navigation links */
.nav-link:hover {
  color: #fff;
}

/* Active state styles for navigation links */
.nav-link.active {
  color: #fff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #666666;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.article-title:hover {
  color: #333333;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.article-metadata a:hover {
  color: #333333;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
}

.delete-acc-btn-background {
  background-color: #f8f9fa;
  border-color: #dc3545;
  color: #dc3545;
}

.delete-acc-btn-background:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.save-btn-color {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.save-btn-color:hover,
.save-btn-color:active {
  background-color: #138496;
  border-color: #138496;
  color: white;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lengthfield-size {
  max-width: 100px;
}