/* Navigation link styles */
.nav-link {
  color: #808080;
  font-weight: 500;
}

/* Hover state styles for navigation links */
.nav-link:hover {
  color: #fff;
}

/* Active state styles for navigation links */
.nav-link.active {
  color: #fff;
}

/* Item styles */
.item-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Item name styles */
.item-name {
  color: #666666;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover state styles for items name */
.item-name:hover {
  color: #333333;
}

/* Styles for each items metadata */
.item-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

/* Styles for each items metadata a tag */
.item-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Styles for each feature card */
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Styles for length of generated password field */
.lengthfield-size {
  max-width: 100px;
}

/* Hero section styles */
.hero-section {
  background: #212529 no-repeat center;
  background-size: cover;
  width: 100%;
  height: 55vh;
  position: relative;
}

/* Overlay styles for hero section */
.hero-section::before {
  background-color: #212529;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Container styles within hero section */
.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}