/* Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 250px;
  z-index: 1030;
}

/* Item styles */
.item-section {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state styles for item box */
.item-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Favicon styles */
.favicon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

/* Item name styles */
.item-name {
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

/* Styles for each item's metadata */
.item-metadata {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 2px dashed #cccccc;
}

/* Styles for each item's metadata a tag */
.item-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Styles for each feature card */
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: transform 0.3s ease;
}

/* Hover state styles for feature card */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Styles for length of generated password field */
.lengthfield-size {
  max-width: 100px;
}

/* Hero section styles */
.hero-section {
  background: #212529 no-repeat center;
  background-size: cover;
  width: 100%;
  height: 55vh;
  position: relative;
}

/* Overlay styles for hero section */
.hero-section::before {
  background-color: #212529;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Container styles within hero section */
.hero-section .container {
  height: 100%;
  z-index: 1;
  position: relative;
}

/* Styles for the hero section heading */
.hero-section h1 {
  position: relative;
  padding-bottom: 20px;
}

/* Styles for pseudo-element to create underline effect */
.hero-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #fff;
}

/* Styles for clip-path background shape */
.clip-path-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  clip-path: path('M0,50 C80,0 160,100 240,50 C320,0 400,100 480,50 C560,0 640,100 720,50 C800,0 880,100 960,50 C1040,0 1120,100 1200,50 C1280,0 1360,100 1440,50 C1520,0 1600,100 1680,50 L1680,100 L0,100 Z');
  z-index: 0;
  margin-top: 10px;
  overflow: hidden;
}

/* Styles for preview image */
.image-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* List results styles */
.list-results {
  transition: transform 0.3s ease;
}

/* Hover state styles for list results */
.list-results:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Media query for large screens */
@media (min-width: 960px) {
  .border-on-lg {
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
    border-color: #6c757d;
  }
}

/* Media query for small screens */
@media (max-width: 959px) {
  .image-container {
    max-width: 90%;
    margin: 0 auto;
  }
}