{% extends "passmanager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}2FA Verification{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'users:2fa_verification' %}" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button name="submit" class="btn btn-dark w-100">Verify</button>
        <input type="hidden" name="next" value="{% url 'passmanager:vault' %}" />
    </form>
{% endblock content %}
