{% extends "passmanager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block page_header %}
    <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'users:login' %}" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button name="submit" class="btn btn-dark w-100">Log In</button>
        <input type="hidden" name="next" value="{% url 'passmanager:vault' %}" />
    </form>
{% endblock content %}
