{% extends "passmanager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block page_header %}
    <h2>Create a free account.</h2>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button name="submit" class="btn btn-dark w-100">Sign Up</button>
        <input type="hidden" name="next" value="{% url 'passmanager:vault' %}" />
    </form>
{% endblock content %}
