{% extends "passmanager/base.html" %}
{% load bootstrap5 %}

{% block title %}Account{% endblock title %}

{% block page_header %}
    <h2>Your account settings.</h2>
{% endblock page_header %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'users:account' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Save changes</button>
            <a class="btn btn-danger" href="{% url 'users:delete_account' %}" role="button">Delete account</a>
        {% endbuttons %}

        <input type="hidden" name="next"value="{% url 'users:account' %}" />
    </form>
{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mt-3 text-center text-md-start">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end  mt-md-0">
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="#" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
{% endblock footer %}
