{% extends "passmanager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Account{% endblock title %}

{% block page_header %}
    <h2>Your account settings.</h2>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'users:account' %}" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-group w-100">
            <button type="submit" name="submit" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i> Action
            </button>
            <ul class="dropdown-menu w-100">
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="save">
                        <i class="bi bi-floppy"></i> Save Changes
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="update_master_password">
                        <i class="bi bi-key"></i> Update Master Password
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="submit" name="action" value="export_data">
                        <i class="bi-filetype-csv"></i> Export Data
                    </button>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#delete_account_modal">
                        <i class="bi bi-trash"></i> Delete Account
                    </button>
                </li>
            </ul>
        </div>
    </form>

    <!-- Delete account modal start -->
    <div class="modal fade" id="delete_account_modal" tabindex="-1" aria-labelledby="delete_account_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_account_modal_label">DELETE ACCOUNT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Procceed below to delete your account and all associated data. Deleting your account is permanent. It cannot be undone.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'users:delete_account' %}" role="button">Delete account</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete account modal end -->
{% endblock content %}
