{% extends "passmanager/base.html" %}
{% load bootstrap5 %}

{% block title %}Account{% endblock title %}

{% block page_header %}
    <h2>Your account settings.</h2>
{% endblock page_header %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'users:account' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Save changes</button>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_account_modal" role="button"><i class="bi bi-trash"></i> Delete account</a>
        {% endbuttons %}

        <input type="hidden" name="next"value="{% url 'users:account' %}" />
    </form>

    <!-- Delete account modal start -->
    <div class="modal fade" id="delete_account_modal" tabindex="-1" aria-labelledby="delete_account_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_account_modal_label">DELETE ACCOUNT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Procceed below to delete your account and all associated data. Deleting your account is permanent. It cannot be undone.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'users:delete_account' %}" role="button">Delete account</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete account modal end -->
{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="footer bg-light text-dark py-3 mt-lg-5">
        <div class="container">
            <hr class="border-dark mb-1" width="100%">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mt-3 text-center text-md-start">
                    <p>&copy; 2024 KafetzisThomas</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-end  mt-md-0">
                    <a href="https://www.paypal.me/kafetzisthomas" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button" style="text-decoration: none;">
                        <i class="bi bi-heart-fill"></i> Donate
                    </a>
                    <a href="mailto: passmanagerweb@gmail.com" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="https://x.com/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="https://github.com/PassManagerWeb" target="_blank" class="btn btn-link btn-floating btn-md text-dark m-1 border" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
{% endblock footer %}
