<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Notification: Your Account Has Been Deleted</title>
</head>
<body>
    <h2>Security Notification: Your Account Has Been Deleted</h2>
    <p>Dear {{ user_name }},</p>
    <p>We are writing to inform you that we have received and processed your request to delete your account associated with the email address {{ user_email }}.</p>
    <p>Your account has now been permanently deleted from our system, and all related data has been removed in accordance with our privacy policy. This action is irreversible, and we will not be able to recover your account or any associated data in the future.</p>
    <p>Thank you for using our service, and we hope to see you again in the future.</p>

    --

    <p style="color:black">
        Best Regards,<br>
        KafetzisThomas
    </p>
</body>
</html>
