<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Notification: Your Account Settings Have Been Updated</title>
</head>
<body>
    <h2>Security Notification: Your Account Settings Have Been Updated</h2>
    <p>Dear {{ user_name }},</p>
    <p>We are pleased to inform you that your account settings associated with the email address {{ user_email }} have been updated successfully.</p>
    <p>If you did not make this change or if you need assistance, please <a href="mailto: passmanagerweb@gmail.com">contact</a> our support team immediately.</p>
    <p>Thank you for keeping your account up to date.</p>

    --

    <p style="color:black">
        Best Regards,<br>
        KafetzisThomas
    </p>
</body>
</html>
