/* Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 250px;
  z-index: 1030;
}

/* Item styles */
.item-section {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state styles for item box */
.item-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Favicon styles */
.favicon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

/* Item name styles */
.item-name {
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

/* Styles for each item's metadata */
.item-metadata {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 2px dashed #cccccc;
}

/* Styles for each item's metadata a tag */
.item-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Styles for each feature card */
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: transform 0.3s ease;
}

/* Hover state styles for feature card */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Styles for length of generated password field */
.lengthfield-size {
  max-width: 100px;
}

/* List results styles */
.list-results {
  transition: transform 0.3s ease;
}

/* Hover state styles for list results */
.list-results:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
