{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PassManager - {% block title %}{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>
<body>
    <!-- navbar start (for small screens) -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body d-lg-none" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'passmanager:vault' %}">PassManager</a>

            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'passmanager:vault' %}">Vault</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/checkup/' %}active{% endif %}" href="{% url 'passmanager:checkup' %}">Checkup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/csv/import' %}active{% endif %}" href="{% url 'passmanager:import_csv' %}">Import Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/item/new/' %}active{% endif %}" href="{% url 'passmanager:new_item' %}">New Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/user/account/' %}active{% endif %}" href="{% url 'users:account' %}">Account</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="nav-link me-5">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/user/login/' %}active{% endif %}" href="{% url 'passmanager:vault' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/user/register/' %}active{% endif %}" href="{% url 'users:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- sidebar start -->
    <nav class="sidebar d-none d-lg-flex flex-column flex-shrink-0 p-3 bg-dark vh-100 border-end border-secondary">
        <a class="d-flex mx-auto mb-3 mb-md-0 text-light text-decoration-none" href="{% url 'passmanager:vault' %}">
            <span class="fs-4 fw-bold">PassManager</span>
        </a>

        <hr class="border-light">

        <ul class="nav nav-pills flex-column mb-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/' %}active{% endif %}" href="{% url 'passmanager:vault' %}"><i class="bi bi-safe me-2"></i> Vault</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/checkup/' %}active{% endif %}" href="{% url 'passmanager:checkup' %}"><i class="bi bi-shield-check me-2"></i> Checkup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/csv/import' %}active{% endif %}" href="{% url 'passmanager:import_csv' %}"><i class="bi bi-upload me-2"></i> Import Data</a>
                </li>

                <li class="nav-item"><hr class="border-light my-2"></li>

                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/user/account/' %}active{% endif %}" href="{% url 'users:account' %}"><i class="bi bi-person me-2"></i> Account</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'users:logout' %}" method="POST" class="w-100">
                        {% csrf_token %}
                        <button type="submit" class="nav-link text-light text-start w-100 bg-transparent border-0">
                            <i class="bi bi-box-arrow-right me-2"></i> Logout
                        </button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/user/login/' %}active{% endif %}" href="{% url 'passmanager:vault' %}"><i class="bi bi-door-open"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/user/register/' %}active{% endif %}" href="{% url 'users:register' %}"><i class="bi bi-person-plus"></i> Register</a>
                </li>
            {% endif %}
        </ul>

        <div class="dropdown dropup">
            <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <p><i class="bi bi-person-circle fs-5 me-2"></i> {{ request.user.email }}</p>
            </a>
            <hr class="border-light">

            <div class="text-secondary small mt-2">
                <strong>&copy; <script>document.write(new Date().getFullYear());</script> KafetzisThomas</strong>
            </div>
        </div>
    </nav>
    <!-- sidebar end -->

    <!-- custom content start -->
    <main role="main" class="container">
        <div class="row justify-content-start mt-lg-3">
            <div class="col-md-8 offset-md-3 mt-3 mb-1">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- custom content end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
